# Виртуальные окружения
venv/
.env/
.venv/
env/
fastapi-project/
task_to_14_09_2026/

# Локальные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Сборки и кэш
build/
dist/
*.log
*.tmp
*.bak

# Docker
.dockerignore

# Файлы виртуального окружения в текущей директории
Lib/
Scripts/

# Другие файлы, которые не нужно отслеживать
.blog_data.json
